@import './font.scss';

img {
    width: 25vh;
    height: 35vh;
      
        
    
}
.title {
    font-family: $libreFranklin;
}
.date {
    font-family: $poppins;
    font-weight: bold;
}
.line {
    border: 1px solid rgb(205, 196, 196);
}
.ultimContainer {
    margin: 50px 0;
    height: auto;
}
.sectionmenu {
    align-items: center;
   
   height: 54vh;
}

.BTN {
    border: 1px solid gray;
    font-family: $libreFranklin;
    &:hover {
        background-color: rgb(248, 248, 248);
    }
}
.h1 {
  
    font-weight: bold;
}
.sectionTwo {
   
    height: 90vh;
}
.lineTwo {
   
  
    border: 1px solid gray;
    height: 1px;
   
    
  
}
.whos {
    font-size: 8px;
    font-family: $poppins;
    color: gray;
}
.work {
    font-family: $poppins;
    font-weight: bold;
    font-size: 17px;
}
.whoiam {
    background: url("../images/original.jpg") center/cover;
    
   
    
}
.titleTwo {
    font-family: $libreFranklin;
    font-size: 28px;
   
  
    
}
.original {
    
    height: 55vh;
    
}
.legend {
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.images {
    background: url("../images/nohe.jpg") center/cover;
    height: 55vh;
    transform: scale(0.9) ; 

        &:nth-child(2) {
            background: url("../images/Maregabis.png") center/cover;
            transform: scale(0.9) ; 
           
            
        }
        &:nth-child(3) {
            background: url("../images/hahah.png") center/cover;
            transform: scale(0.9) ; 
        }
         &:hover {
                filter: grayscale(90%);
                transform: scale(1) ; 
                transition: ease-in-out 0.2s ;
            }
}

.ctnaire {
    margin: 30px 0;
   
}
.reader {
    background: url("../images/ecrrr.png") no-repeat;

}
.three {
    
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 20% 0;
    
}
.containerPAge4 {
    margin: 30px 0;

}
.four {
    background: url("../images/bgsombre.jpg") no-repeat center/cover;
    height: 50vh;
   
    
}
.containerPAge5 {
    margin: 30px 0;
    
    height: auto;
}
.dev {
    
    background: url(../images/html-coding.png) center/cover no-repeat;
    transform: scale(0.5) translateY(-50%);
    
}
.fsize {
    font-size: 17px;
}
.gry {
    color: gray;
}
.containerLast {
    margin: 30px 0;
}
.contLast {
   
    height: 55vh;
}
.dated {
    font-size: 70px;
}
.coled {
    
    margin: 10%;

}
.adrss {
    font-size: 1.4rem;
}